<div class="container mt-3">
    <h2>All Reimbursement Requests</h2>
                
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Reimbursement ID</th>
          <th>Request Date</th>
          <th>Request Amount</th>
          <th>Request Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test ID 1</td>
          <td>1/1/2022</td>
          <td>$100</td>
          <td>pending</td>
          <td>
            <button 
            type="button"
            class="btn btn-success">Approve</button>
          </td>
          <td>
            <button 
            type="button"
            class="btn btn-danger">Deny</button>
          </td>
        </tr>
        <tr>
            <td>Test ID 2</td>
            <td>1/2/2022</td>
            <td>$200</td>
            <td>pending</td>
            <td>
                <button 
                type="button"
                class="btn btn-success">Approve</button>
              </td>
              <td>
                <button 
                type="button"
                class="btn btn-danger">Deny</button>
              </td>
        </tr>
        <tr>
            <td>Test ID 3</td>
            <td>1/3/2022</td>
            <td>$300</td>
            <td>pending</td>
            <td>
                <button 
                type="button"
                class="btn btn-success">Approve</button>
              </td>
              <td>
                <button 
                type="button"
                class="btn btn-danger">Deny</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>