<div class="container mt-3">
    <h2>Employee Information</h2>
                
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Job Code</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test ID 1</td>
          <td>100</td>
          <td>John</td>
          <td>Smith</td>
          <td>jsmith@gmail.com</td>
          <td>
            <button 
            type="button"
            class="btn btn-primary">Edit</button>
          </td>
        </tr>
        <tr>
            <td>Test ID 2</td>
            <td>100</td>
            <td>Mark</td>
            <td>Johnson</td>
            <td>mjohnson@gmail.com</td>
            <td>
                <button 
                type="button"
                class="btn btn-primary">Edit</button>
              </td>
        </tr>
        <tr>
            <td>Test ID 3</td>
            <td>100</td>
            <td>Sally</td>
            <td>Silverton</td>
            <td>ss1234@gmail.com</td>
            <td>
                <button 
                type="button"
                class="btn btn-primary">Edit</button>
              </td>
        </tr>
        <tr>
            <td>Test ID 3</td>
            <td>200</td>
            <td>Mr.</td>
            <td>Manager</td>
            <td>mm@gmail.com</td>
            <td>
                <button 
                type="button"
                class="btn btn-primary">Edit</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>