<div class="bg-primary bg-gradient">
    <div class="container py-5 h-100">
        <form #loginForm (ngSubmit)="logInUser()" class="row  h-80">
          <div 
          class="d-flex justify-content-center align-items-center " 
          >
          <div class="col-10 col-md-8 col-lg-6 col-xl-5">
            <div class=" card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="pb-5">
                  
                  <div class="alert alert-warning mb-2" role="alert" hidden></div>

                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
  
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                  <div class="form-outline form-white mb-4">
                    <input 
                    type="email" id="email" 
                    name="email"  
                    class="form-control form-control-lg" 
                    [(ngModel)]="user.email" 
                    #email="ngModel"
                    placeholder="Email Here..."  required/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <input 
                    type="password" id="password" 
                    name="password"
                    [(ngModel)]="user.password" 
                    #password="ngModel"
                    class="form-control form-control-lg" 
                    placeholder="Password Here..." 
                    required/>
                  </div>
  
                  <button class="btn btn-outline-light btn-lg px-5 mb-3" type="submit">Login</button>
  
                  <p class="small mb-1"><a class="text-white-50" href="#!">Forgot password?</a></p>
                </div>
              </div>
  
            
            </div>
          </div>


          </div>
        </form>
    </div>

  </div>

