    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" disabled>
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Group <sup>1</sup> Project <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link btn" routerLink="/user-account" >
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link btn" 
                    (click)="getEmployeeReimbursementRequests()"
                >
                    <i class="fas fa-fw fa-cog"></i>
                    <span>View All Reimbursements</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Log Out</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Nav Item - Employees-->
            <li class="nav-item" *ngIf="user.job_code == 200">
                <a class="nav-link" href="#" id="getAllEmployees">
                    <i class="fas fa-fw fa-table"></i>
                    <span>View All Employees</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-dark">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Search -->
                    <form
                        (ngSubmit)="getSearchFormRequest(searchId.value)"
                        *ngIf="user.job_code == 200"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" id="searchForm">
                        <div class="input-group" >
                            <input type="text" ngModel
                                #searchId
                                name="searchId"
                                class="form-control bg-light border-0 small" 
                                required
                                placeholder="Search for specific requests by employee ID here..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="navName"></span>
                                <img class="img-profile rounded-circle"
                                    src="assets/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-white">Reimbursement System Dashboard</h1>
                        <a
                            id="requestBtn" 
                            class="d-none d-sm-inline-block btn btn-sm btn-primary 
                            text-white
                            shadow-sm"
                            (click)="generateReimbursementRequest()"
                        >
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Request
                        </a>
                    </div>


                    <!-- Content Row -->
                    <div class="row">
                        
                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4" id="list-wrapper">
                                <div class="card-header py-3" >
                                    <h5 class="m-0 font-weight-bold text-primary float-left">Reimbursements</h5>

                                    <!-- Toggle buttons -->
             
                                    <div class="btn-group btn-group-toggle float-right" 
                                        data-toggle="buttons" *ngIf="employeeReimbursements.length > 0">
                                        <label class="btn btn-primary active btn-sm" (click)="getAllRequest()">
                                          <input                                             
                                            type="radio" name="options" 
                                            id="all" autocomplete="off" 
                                            checked
                                            > All
                                        </label>
                                        <label class="btn btn-danger btn-sm" (click)="getRejectedRequest()">
                                          <input 
                                            type="radio" name="options" 
                                            id="rejected" autocomplete="off"/> Rejected
                                        </label>
                                        <label class="btn btn-warning btn-sm" (click)="getPendingRequest()">
                                            <input 
                                            type="radio" name="options" 
                                            id="rejected" autocomplete="off"
                                            /> Pending
                                        </label>
                                        <label class="btn btn-success btn-sm" (click)="getResolvedRequest()">
                                            <input 
                                                type="radio" name="options" 
                                                id="resolved" autocomplete="off"                                                
                                                > Resolved
                                        </label>
                                    </div>
                                </div>
                                <div id="reimbursements" class="card-body">
                                    
                                    <div class="mb-4" *ngIf="requestLoading">
                                        <i class="fas fa-sync fa-spin"></i>                                   
                                       <b> Requests Loading...</b> 
                                    </div>
                                    <div class="mb-4" 
                                    *ngIf="employeeReimbursements.length === 0 && !requestLoading">
                                        <h4 class="
                                        small font-weight-bold 
                                        d-flex align-items-center 
                                        justify-content-between">
                                        No Results Found</h4>
                                    </div>
                                    <div 
                                    *ngIf="employeeReimbursements.length > 0 && !requestLoading">

                                        <div class="mb-4" 
                                        *ngFor="let item of employeeReimbursements">
                                            <h4 class="small font-weight-bold 
                                            d-flex align-items-center justify-content-between">
                                                <span>ID: {{item.rb_id}}</span>
                                                <span class="text-warning" *ngIf="item.rb_status == 'pending'" >
                                                    Status: {{item.rb_status}}
                                                </span>
                                                <span class="text-success" *ngIf="item.rb_status == 'resolved'" >
                                                    Status: {{item.rb_status}}
                                                </span> 
                                                <span class="text-danger" *ngIf="item.rb_status == 'rejected'" >
                                                    Status: {{item.rb_status}}
                                                </span>  
                                                <span>$ {{item.rb_amount}}</span>
                                            </h4>

                                            <!-- Employees Display -->
                                            <div class="d-flex align-items-center 
                                            justify-content-between"
                                            *ngIf="user.job_code == 100" >
                                                <h4 class="small font-weight-bold">
                                                    Date: {{item.rb_timestamp | date: 'short'}}
                                                </h4>
                                                <button class="btn btn-primary btn-sm" id="rb_${item.rb_id}"                                                 
                                                >Update</button>
                                            </div>

                                            <!-- Managers display -->
                                            <div class="d-flex align-items-center 
                                            justify-content-between"
                                            *ngIf="user.job_code == 200" >
                                                <h4 class="small font-weight-bold">
                                                    Date: {{item.rb_timestamp | date: 'short'}}
                                                </h4>
                                                <button type="button">Reject</button>
                                                <button type="button">Resolve</button>
                                            </div>

                                            <div class="dropdown-divider"></div>

                                        </div><!---// End of ngFor loop-->

                                    </div>


                                </div>
                            </div>

 
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Personal Employee Info -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h5 class="m-0 font-weight-bold text-primary">Personal Information</h5>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="assets/img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <div id="employeeInfo">
                                        <div *ngIf="user == null && userInfoPending; else elseBlock">
                                            <i class="fas fa-cog fa-spin"></i> Loading...
                                        </div>
                                        <ng-template #elseBlock>
                                            <table #elseBlock class="table table-hover">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Employee ID</th>
                                                    <th scope="col">Job Code</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Email</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">{{user.emp_id}}</th>
                                                    <td>{{user.job_code}}</td>
                                                    <td>{{user.fname}}</td>
                                                    <td>{{user.lname}}</td>
                                                    <td>{{user.email}}</td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </ng-template>
                          
                                        <button
                                            class="btn btn-primary float-right"
                                            data-toggle="modal" data-target="#employeeModal"
                                        >
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-dark">
                <div class="container my- text-white">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Revature - Group 1 Project 1 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#" (click)=" signOut()">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Employee Modal -->
    <div id="EmpModal" *ngIf="user != null" >

        <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="requestModalLabel">Update Employee Info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="employeeInfoForm">
                    <div class="form-group">
                      <label for="employeeID" class="col-form-label">Employee ID</label>
                      <input type="number" class="form-control" id="employeeID" name="empID" value="{{user.emp_id}}" disabled>
                    </div>
                    <div class="form-group">
                      <label for="jobcode" class="col-form-label">Job Code</label>
                      <input type="number" class="form-control" id="jobecode" name="jobcode" value="{{user.job_code}}" disabled>
                    </div>
                    <div class="form-group">
                      <label for="fname" class="col-form-label">First Name</label>
                      <input type="text" class="form-control" 
                        id="fname" name="fname"
                        [(ngModel)]="user.fname"
                        #fname="ngModel"
                        value="{{user.fname}}">
                    </div>
                    <div class="form-group">
                      <label for="lname" class="col-form-label">Last Name</label>
                      <input type="text" class="form-control" 
                        id="lname" name="lname" 
                        [(ngModel)]="user.lname"
                        #lname="ngModel"
                        value="{{user.fname}}">
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-form-label">Email</label>
                      <input type="email" class="form-control" 
                        id="email" name="email" 
                        [(ngModel)]="user.email"
                        #email="ngModel"
                        value="{{user.email}}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" 
                        (click)="getPersonalInfo()" data-dismiss="modal">Close</button>
                        <button 
                            type="button" class="btn btn-primary" 
                            data-dismiss="modal"
                            (click)="updateEmployeeInfo()"
                            >
                            Submit
                        </button>
                    </div>
                  </form>
   
                </div>
               
              </div>
            </div>
        </div>
    </div>

    

